html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url('marshmallow.jpg');
  background-repeat: repeat;
  -webkit-animation: nomslide 3s linear infinite;
  -moz-animation: nomslide 3s linear infinite;
  -o-animation: nomslide 3s linear infinite;
}

@-webkit-keyframes nomslide {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

@-moz-keyframes nomslide {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

@-o-keyframes nomslide {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}
